@model IAmDbProject.Models.Item

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Donor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expected_Sale_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expected_Sale_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Min_Increment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Min_Increment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buyout_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buyout_Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
